{% load staticfiles %}
{% load urlify %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block head_title %} {{ instance.title }} {% endblock head_title %}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Demo project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
<link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.theme.default.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/animate.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/post.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/post_responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap3/bootstrap336.min.css' %}">

<style>
.textarea
{
	max-height: 100px;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400 !important;
    color: #212529 !important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
</style>
</head>
<body>

<div class="super_container">

	{% include 'jb_app/header.html' %}
	
	<!-- Home -->

	<div class="home">
		    {% if instance.image %}
				<div class="home_background parallax-window" data-parallax="scroll" data-image-src="{{ instance.image.url }}" data-speed="0.8"></div>
			{% else %}
				<div class="home_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/post.jpg' %}" data-speed="0.8"></div>
			{% endif %}

		<div class="home_content">
			<div class="post_title">{{ instance.title }}</div>
		</div>
	</div>
	
	<!-- Page Content -->

	<div class="page_content">
		<div class="container">
			<div class="row row-lg-eq-height">

				<!-- Post Content -->

				<div class="col-lg-9">
					<div class="post_content">
						<!-- Bottom Panel -->
						<div class="post_panel bottom_panel d-flex flex-row align-items-center justify-content-start">
								<div class="author_image">
									<div>
									{% if instance.user.picture %}
										<img src="{{instance.user.picture.url}}" height="50px" alt="" />
									{% else %}
										<img src="{% static 'img/user.png' %}" height="50px" alt="{% trans 'No Profile Picture' %}" />
									{% endif %}
									</div>
								</div>
								<div class="post_meta"><a href="#">{% if instance.user.get_username %}<p>Author: {{ instance.user.get_username }}</p>{% endif %}</a><p>{{ title }} <small>{% if instance.draft %}<span style='color:red;'>Draft</span> {% endif %}{{ instance.publish }}</small></p></div>
								<div class="post_share ml-sm-auto">
									<span>share</span>
									<ul class="post_share_list">
										<li class="post_share_item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li class="post_share_item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li class="post_share_item"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>

						<!-- Post Body -->

						<div class="post_body">
							<p class="post_p">
								{{ instance.get_markdown }}
							</p>

							<!-- Post Tags -->
							<div class="post_tags">
								<ul>
								{% if instance.tags %}
									{% for tag in instance.tags.all %}
										<li class="post_tag"><a href="#">{{ tag }}</a></li>
									{% endfor %}
								{% else %}
									<li class="post_tag"><a href="#">No Tags</a></li>
								{% endif %}
								</ul>
							</div>
						</div>
						
						<!-- Similar Posts -->
						<div class="similar_posts">
							<div class="grid clearfix">

								<!-- Small Card With Image -->
								<div class="card card_small_with_image grid-item">
									<img class="card-img-top" src="{% static 'images/post_25.jpg' %}" alt="https://unsplash.com/@jakobowens1">
									<div class="card-body">
										<div class="card-title card-title-small"><a href="#">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
										<small class="post_meta"><a href="#">{% if instance.user.get_username %}<p>Author: {{ instance.user.get_username }}</p>{% endif %}</a><p>{{ title }} <small>{% if instance.draft %}<span style='color:red;'>Draft</span> {% endif %}{{ instance.publish }}</small></p></small>
									</div>
								</div>

								<!-- Small Card With Image -->
								<div class="card card_small_with_image grid-item">
									<img class="card-img-top" src="{% static 'images/post_2.jpg' %}" alt="https://unsplash.com/@jakobowens1">
									<div class="card-body">
										<div class="card-title card-title-small"><a href="#">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
										<small class="post_meta"><a href="#">{% if instance.user.get_username %}<p>Author: {{ instance.user.get_username }}</p>{% endif %}</a><p>{{ title }} <small>{% if instance.draft %}<span style='color:red;'>Draft</span> {% endif %}{{ instance.publish }}</small></p></small>
									</div>
								</div>

								<!-- Small Card With Image -->
								<div class="card card_small_with_image grid-item">
									<img class="card-img-top" src="{% static 'images/post_26.jpg' %}" alt="https://unsplash.com/@jakobowens1">
									<div class="card-body">
										<div class="card-title card-title-small"><a href="#">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
										<small class="post_meta"><a href="#">{% if instance.user.get_username %}<p>Author: {{ instance.user.get_username }}</p>{% endif %}</a><p>{{ title }} <small>{% if instance.draft %}<span style='color:red;'>Draft</span> {% endif %}{{ instance.publish }}</small></p></small>
									</div>
								</div>

							</div>

							<!-- Post Comment -->
							<div class="post_comment">
								<div class="post_comment_title">Post Comment</div>
								<div class="row">
									<div class="col-xl-8">
										<div class="post_comment_form_container">
											{% if request.user.is_authenticated %}
											<form method="POST" action="."> {% csrf_token %}
												{{ comment_form|crispy }}
												<input type='submit' value='Post comment' class='comment_button'>
											</form>
											{% else %}
											<p class="post_p">You must login to comment </p>
											{% endif %}
										</div>
									</div>
								</div>
							</div>

							<!-- Comments -->
							<div class="comments"> 
								<div class="comments_title">Comments <span>{% if instance.comments.count %}({{instance.comments.count}}){% else %}(0){% endif %}</span></div>
								<div class="row">
									<div class="col-xl-8">
										<div class="comments_container">
										{% for comment in comments %}	 									
											<ul class="comment_list">
												<li class="comment">
													<div class="comment_body">
														<div class="comment_panel d-flex flex-row align-items-center justify-content-start">
															
															<div class="comment_author_image">
																<div>															
																	{% if comment.user.picture %}
																		<img src="{{comment.user.picture.url}}" height="35px" alt="" />
																	{% else %}
																		<img src="{% static 'img/user.png' %}" height="30px" alt="{% trans 'No Profile Picture' %}" />
																	{% endif %}
																</div>
															</div>

															<small class="post_meta"><a href="#">{% if comment.user.get_username %}<p>Author: {{ comment.user.get_username }}</p>{% endif %}</a><p>{{ title }} <small>{% if instance.draft %}<span style='color:red;'>Draft</span> {% endif %}{{ instance.publish }}</small></p></small>
														</div>
														<div class="comment_content">
															<blockquote class="blockquote">
															<p class="mb-0">{{ comment.content }}</p>
															<footer class="blockquote-footer" >via {{ comment.user }} | {{ comment.timestamp|timesince }} ago | {% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %} <a class='comment-reply-btn' href='#'>Reply</a> | <a class='' href='{{ comment.get_absolute_url }}'>Thread</a></footer>
															<div class='comment-reply'>
																	{% for child_comment in comment.children %}
																	  <blockquote class="blockquote">
																	  <p class="mb-0">{{ child_comment.content }}</p>
																	  <footer class="blockquote-footer">via {{ child_comment.user }} | {{ child_comment.timestamp|timesince }} ago</footer>
																	  </blockquote>
																   {% endfor %}
																   {% if request.user.is_authenticated %}
																  <form method="POST" action="."> {% csrf_token %}
																	  {{ comment_form|crispy }}
																	  <input type='hidden' name='parent_id' value='{{ comment.id }}'>
																	  <input type='submit' value='Reply' class='reply_button ml-auto'>
																  </form>
																  {% else %}
															  <p>You must login to Reply </p>
															  {% endif %}
															  </div>
															</blockquote>
														</div>
													</div>
										</blockquote>

										
										{% endfor %}
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
					<div class="load_more">
						<div id="load_more" class="load_more_button text-center trans_200">Load More</div>
					</div>
				</div>

				{% include 'jb_app/sidebar.html' %}

			</div>
		</div>
	</div>

	{% include 'jb_app/footer.html' %}
</div>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'plugins/masonry/masonry.js' %}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'js/post.js' %}"></script>

<script>
		if(!jQuery) {throw new Error("This page requires jQuery")}
		
		$(function(){
			function readInput(){
				var content = document.getElementById('id_content').value
		
				$.ajax({
					type: "POST",
					url: "",
					data:{
					content: content,
					csrfmiddlewaretoken: '{{ csrf_token }}'
					},
					dataType: 'json',    
					success: function(json){
						console.log(json)
						window.location.replace("{% url 'camer-info:posts:detail' slug %}");
					}
				});
			}
			$("comment_button").click(function(e){
				e.preventDefault();
				readInput();
			});
		});
		</script>
		

<script type="text/javascript">
	$(".comment-reply").hide();	
	$(document).ready(function(){
		$(".comment-reply-btn").click(function(event){
			event.preventDefault();
			$(this).parent().next(".comment-reply").fadeToggle();
		});
	});	
	</script>
</body>
</html>