h1 {
    color: #777777;
}

.wmd-panel{
    margin-right: 0px !important;
    margin-left: 0px !important;
	min-width: 450px !important;
}

.comment-reply{
    display:none;
}

.breadcrumbs {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.home_slider_background {
    background-image: url("../images/home_slider.ce4f25bcbd5c.ce4f25bcbd5c.jpg");
}
.contact_form_container{
	margin-top: 40px !important; 
	padding-bottom: 15px !important; 
	padding-top: 15px !important; 
}